In [2]:
import pandas as pd

Importing data

In [3]:
data = pd.read_csv('/Users/zwouq/Downloads/archive 2/GlobalLandTemperaturesByMajorCity.csv')

# Descriptive statistics

In [5]:
data

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1849-01-01,26.704,1.435,Abidjan,Côte D'Ivoire,5.63N,3.23W
1,1849-02-01,27.434,1.362,Abidjan,Côte D'Ivoire,5.63N,3.23W
2,1849-03-01,28.101,1.612,Abidjan,Côte D'Ivoire,5.63N,3.23W
3,1849-04-01,26.140,1.387,Abidjan,Côte D'Ivoire,5.63N,3.23W
4,1849-05-01,25.427,1.200,Abidjan,Côte D'Ivoire,5.63N,3.23W
...,...,...,...,...,...,...,...
239172,2013-05-01,18.979,0.807,Xian,China,34.56N,108.97E
239173,2013-06-01,23.522,0.647,Xian,China,34.56N,108.97E
239174,2013-07-01,25.251,1.042,Xian,China,34.56N,108.97E
239175,2013-08-01,24.528,0.840,Xian,China,34.56N,108.97E
239176,2013-09-01,NaN,NaN,Xian,China,34.56N,108.97E

Mean temperature by city and country

In [21]:
grouping_result = data.groupby(["Country", "City"])["AverageTemperature"].mean()
grouping_result.head(30)

Country      City
Afghanistan  Kabul             14.342919
Angola       Luanda            23.693046
Australia    Melbourne         13.374304
             Sydney            17.002299
Bangladesh   Dhaka             25.490568
Brazil       Belo Horizonte    21.071396
             Brasília          21.727595
             Fortaleza         27.008640
             Rio De Janeiro    23.788916
             Salvador          24.656971
             São Paulo         19.699368
Burma        Rangoon           26.735193
Canada       Montreal           4.445014
             Toronto            5.773911
Chile        Santiago           5.692277
China        Changchun          4.923798
             Chengdu           10.638042
             Chongqing         16.844962
             Dalian            10.229077
             Guangzhou         21.608684
             Harbin             3.625744
             Jinan             13.089814
             Nanjing           15.602052
             Peking            11.809383
             Shanghai          15.969512
             Shenyang           7.214980
             Taiyuan            7.976806
             Tangshan          11.579373
             Tianjin           11.809383
             Wuhan             16.830944
Name: AverageTemperature, dtype: float64

In [24]:
cities_wo_dupl = data.drop_duplicates(subset=["Latitude", "Longitude"])
country_grouping = cities_wo_dupl["Country"].value_counts()
print(country_grouping)

China                                 15
India                                 12
Brazil                                 6
Nigeria                                3
Turkey                                 3
United States                          3
Canada                                 2
South Africa                           2
Indonesia                              2
Saudi Arabia                           2
Russia                                 2
Pakistan                               2
Colombia                               2
Japan                                  2
Egypt                                  2
Australia                              2
Somalia                                1
Mexico                                 1
Côte D'Ivoire                          1
Italy                                  1
Kenya                                  1
France                                 1
Burma                                  1
Philippines                            1
Chile                                  1
Dominican Republic                     1
South Korea                            1
Singapore                              1
Taiwan                                 1
Iran                                   1
Afghanistan                            1
Spain                                  1
Angola                                 1
Syria                                  1
Iraq                                   1
Thailand                               1
Germany                                1
Morocco                                1
Senegal                                1
Tanzania                               1
Bangladesh                             1
Zimbabwe                               1
Vietnam                                1
Ethiopia                               1
Ukraine                                1
Congo (Democratic Republic Of The)     1
Peru                                   1
United Kingdom                         1
Sudan                                  1
Name: Country, dtype: int64